<header>
  <div class="container-fluid">
    <div class="intro-text">
      <div class="intro-lead-in" translate>home.slogan</div>
      <app-search-form [cities]="cities" [services]="services" [city]="''" [service]="''"></app-search-form>
    </div>
  </div>
</header>

<section id="register">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <span class="">Vous offrez des services ?</span>
        <button class="btn btn-primary btn-lg">Inscrivez vous !</button>
      </div>
    </div>
  </div>
</section>

<section id="team" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Fonctionnement du service serbis.ma</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-2">
        <div class="team-member text-center">
          <img src="../../assets/images/icon-help-10.png" width="50%" alt="">
          <h4 class="text-center">1. Chercher</h4>
        </div>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-2">
        <div class="team-member text-center">
          <img src="../../assets/images/icon-help-5.png" width="50%" alt="">
          <h4 class="text-center">2. Contacter</h4>
        </div>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-2">
        <div class="team-member text-center">
          <img src="../../assets/images/icon-help-6.png" width="50%" alt="">
          <h4 class="text-center">3. Payer</h4>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="large text-muted"></p>
      </div>
    </div>
  </div>
</section>

<footer style="margin-top: 60px">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright © Serbis.ma 2018</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li><a href="#">Conditions générales d'utilisation</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>


